.font-bold {
    font-weight: 700;
}
.text-9xl {
    font-size: 8rem;
    line-height: 1;
}
.movie-poster-image {
   height: 400px;
   border: 3px solid #f6f6f6;
   background-color: #f6f6f6;
   border-radius: 10px;
  }
/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
} */
