@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --bg-main: #131722;
  --light-bg: #24baef;
  --main-color: #fff;
  --bg-transparent: rgba(36, 186, 293, 0.6);
  --border-color: #a8a8a83d;
  --border-height: 1px;
  --second-font-color: #949cb0;
}

.btn-bg-dark {
  background-color:var(--bg-main);
}

.btn-bg-dark:hover {
  background-color: var(--light-bg);
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: var(--bg-main);
  color: var(--main-color);
  position: relative;
  min-height: 100vh;
}
footer{
  border-top:1px solid var(--border-color);
}
footer a {
  text-decoration: none;
  color: var(--main-color);
}
footer h4{
  color: var(--light-bg);
}
.card a {
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
.show a{
  text-decoration: none;
  color: var(--main-color);
}
a:hover {
  color: var(--light-bg);
}
nav {
  background-color: var(--bg-main);
  border-bottom:1px solid var(--border-color);
}
.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.span-fav-icon {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  width: 17px;
  height: 17px;
  background: var(--light-bg);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;


}
.border{
  height: .7px;
  background-color: var(--border-color);
}

.active{
  color:red;
}

.register input{
  background-color: transparent;
  color:var(--main-color) ;

}
.register input::placeholder {
  color: rgb(255, 255, 255,.5);
  font-size:14px

}

.register{
   margin-top:100px ;

}



